h2,h3{
    font-size:24px!important;
}


.site .site-header{
    background-color: rgba(33,33,41, 1);
    max-width: 100%;
    padding: 20px 50px;
}

.primary-navigation .primary-menu-container > ul > .menu-item > a{
    color: #ffffff;
    text-decoration: none;
}

.primary-navigation .primary-menu-container > ul > .menu-item > a:hover,
.primary-navigation .primary-menu-container > ul > .menu-item > a:focus,
.primary-navigation .primary-menu-container > ul > .menu-item > a:active,
.primary-navigation .primary-menu-container > ul > .menu-item > a[aria-current="page"]{
    color: #ffb000;
    text-decoration: none;
}

/*Footer*/
.site .main-footer{
    background-color: rgba(33,33,41, 1);
    margin: 0;
    max-width: 100%;
}
.site .main-footer .site-info{
    max-width: 1350px;
    margin: 0 auto;
    border: 0;
}
.custom-widget-area{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}
.footer-widget h3,
.footer-widget h2{
    padding-bottom: 15px;
    margin-bottom: 15px;
    position: relative;
}
.footer-widget h3:after,
.footer-widget h2:after{
    height: 2px;
    width: 40px;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #ffb000;
}
.footer-widget h3,
.footer-widget h2,
.footer-widget p,
.site-footer.main-footer .footer-widget ul li a,
.site-footer.main-footer .footer-widget ul li a:visited,
.site-footer.main-footer .footer-widget ul li{
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
}
.site-footer.main-footer .footer-widget ul{
    padding:0;
}
.site-footer.main-footer .footer-widget ul li{
    list-style-type: none;
    color: #ffffff;
}
.site-footer.main-footer .footer-widget ul li a:hover{
    color: #ffb000;
}
.footer-widget:nth-child(2){
    margin: 0 70px;
}
.wp-block-social-links{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.site-footer.main-footer .footer-widget ul li.contact-field{
    color: #ffb000;
    margin: 14px 0;
}
.site-footer.main-footer .footer-widget ul li.contact-field a{
    color: #ffb000;
}
.site-footer.main-footer .footer-widget ul li.contact-field a:hover{
    color:#ffffff;
}

/*Main content*/
.site-content .content-area main{
    padding: 0;
}
.site-content .content-area .entry-header{
    display: none;
}
.site-content .content-area main .entry-content{
    margin: 0 0 30px;
}
.site-content .content-area main .entry-content h1{
    font-size: 40px;
    font-weight: 600;
    margin: 60px auto;
    text-align: center;
}
.bestseller{
    width: 100%;
    max-width: 100%!important;
}
.has-background-white .site a:focus:not(.wp-block-button__link):not(.wp-block-file__button){
    background: transparent!important;
}
.new-arrivals{
    width: 100%!important;
    max-width: 100%!important;
    padding: 0 10px;
}
.new-arrivals .wp-block-product-collection-is-layout-flow{
     width: 100%!important;
}
.custom-button a,
.ff-btn-submit,
.single_add_to_cart_button{
    background-color: #ffb000!important;
    border-radius: 50px!important;
    border: none!important;
    color: #ffffff!important;
}
.custom-button a:hover{
    background-color: transparent!important;
}
.site-content .site-main .woocommerce-products-header{
    border: 0;
    margin: 0;
}
.site-content .site-main .woocommerce-products-header h1{
    font-size: 45px;
}
.site-content .site-main .woocommerce-breadcrumb{
    display: none;
}
.woocommerce-shop .content-area{
        margin: 40px auto!important;
}
.has-background-white .site a:focus:not(.wp-block-button__link):not(.wp-block-file__button){
        background: rgba(0, 0, 0, 0.9)!important;
}
body .entry-content .main-banner{
    width: 100%;
    max-width: 100%!important;
}
body .entry-content .main-banner img{
    width: 100%;
}
body .entry-content .wp-block-columns{
     max-width: 100%!important;
}
.text-wrapper .wp-block-group{
    justify-content: flex-start;
}
.page-id-10 .site-content .content-area,
.page-id-12 .site-content .content-area{
    margin: 0;
}
.page-template-default.no-widgets .site-footer{
    margin-top: 0;
    }
.site-content .content-area main .entry-content .wrapper-content{
    max-width: 100%!important;
    padding: 0 50px;
}
.site-content .content-area main .entry-content .wrapper-content h1{
    text-align: left;
    margin-bottom: 10px;
}
.site-main .entry-content .wrapper-content h2{
    line-height: 40px;
    font-size: 30px !important;
    padding: 30px 0;
}
.site-main .entry-content .wrapper-content p,
.site-main .entry-content .wrapper-content ul li{
    font-size: 16px;
    line-height: 30px;
    padding-bottom: 10px;
}
body .entry-content .wp-block-columns.wrapper-contact{
    max-width: 83%!important;
}
.wrapper-contact .wp-block-column{
    text-align: center;
}
.contact-form {
    background-color: #f4f4f4;
    max-width: 100%!important;
    margin-bottom: 0;
}
.contact-form form {
    max-width: 50%;
    margin: 0 auto;
    padding: 80px 0;
}
.ff-message-success{
    max-width: 40%;
    margin: 0 auto;
    text-align: center;
}
ul.products li.product .button{
    background-color: #ffb000!important;
    padding: 5px 8px;
    font-size: 16px;
    color: #ffffff!important;
}
.single-product form.cart input{
    border: 2px solid #ffb000;
}
.woocommerce-tabs.wc-tabs-wrapper ul li.active a{
    background-color: #ffb000;
    border: 0;
}

@media screen and (max-width: 481px){
    .site .site-header{
        padding: 30px 15px 16px;
    }
    .site .site-header .site-logo{
            padding: 4px 0!important;
    }
    .primary-navigation .menu-button-container{
        padding: 0;
        background-color: rgba(33,33,41, 1);
    }
    .page-template-default.primary-navigation-open .menu-button-container{
        background-color: rgba(33,33,41, 1);
    }
    .menu-button-container #primary-mobile-menu .dropdown-icon{
        color: #ffffff;
    }
    .page-template-default.primary-navigation-open .primary-menu-container{
        background-color: rgba(33,33,41, 1);
    }
    .new-arrivals{
        width: 80%!important;
        max-width: 80%!important;
    }
}
@media screen and (max-width: 768px){
    .new-arrivals .wc-block-product-template.is-flex-container{
        display: grid !important;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .new-arrivals .wc-block-product-template.is-flex-container.is-flex-container.columns-5>li{
        width: 100%;
    }
    .custom-widget-area{
        padding: 0 15px;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .primary-navigation .primary-menu-container > ul > .menu-item > a{
        font-size: 14px;
    }
    .products li.product .button{
        font-size: 14px;
        padding: 10px;
    }
    .woocommerce-shop.woocommerce ul.products.columns-4 li.product{
        width: 45%!important;
    }
    h2,h3{
        font-size: 20px!important;
    }
    .text-wrapper{
        order: 2;
    }
    .text-wrapper .wp-block-group,
    .wp-block-heading {
        padding: 0 10px;
    }
    .wrapper-contact .wp-block-column{
        margin-bottom: 0;
        font-size: 14px;
    }
    .contact-form form{
        max-width: 100%;
        padding: 20px;
    }
    .single-product div.product{
        margin: 20px 0;
    }
}
@media screen and (min-width: 768px) and (max-width: 1099px){
     .custom-widget-area{
        padding: 0 15px;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 40px;
    }
}
@media screen and (min-width: 769px) and (max-width: 1099px){
    body .entry-content .wp-block-columns.wrapper-contact{
        max-width: 98% !important;
    }
    .wrapper-contact .wp-block-column p{
        font-size: 14px;
    }
    .contact-form form{
        max-width: 95%;
    }
}
@media screen and (max-width: 1099px){
    .site-content .content-area main .entry-content h1{
        font-size: 30px;
        margin: 30px auto 0;
    }
    .custom-widget-area .footer-widget{
        margin-bottom: 30px;
    }
    .footer-widget:nth-child(2){
        margin: 0 0 30px;
    }
    .footer-widget:last-child{
        margin: 0;
    }
    .wp-block-group .wp-block-group__inner-container p{
        font-size: 14px;
    }
    .site-content .content-area main .entry-content .wrapper-content{
        padding: 0 10px;
    }
}
@media screen and (min-width: 1100px){
    .custom-widget-area{
        padding: 0 15px;
    }
}
@media screen and (max-width: 1430px){
    .bestseller{
        padding: 0 15px;
    }
}